.queryForm {
    font-size: 20px;
    display: flow-root;
    background: var(--col-accent-blue);
    padding: 24px;

    .selectorSection {
        padding: 16px;
        display: inline-flex;
        width: 100%;
        justify-content: center;

        .radioGroup {
            padding-left: 30px;
            span {
                font-size: 20px;
                color: white;
            }
        }
    }

    .moreInput {
        padding: 16px;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

