.homePage {
    margin-bottom: 80px;

    .pageHeading {
        font-family: var(--font-heading);
        text-align: center;
        font-size: var(--fontsize-page-heading);
        letter-spacing: var(--spacing-large);
        padding-bottom: 60px;
        padding-top: 40px;
    }

    .introSection {
        display: flex;
        padding-bottom: var(--page-gaps);
        
        p {
            font-family: var(--font-sansserif);
        }
    }

    .familyPortait {
        width: 100%;
        height: 100%;
    }

    .favouritesSection {
        text-align: center;
        padding-top: var(--page-gaps);
        padding-bottom: var(--page-gaps);
        
        button {
            margin-top: 30px;
        }
    }
    
    .favouritesHeading {
        font-family: var(--font-heading);
        padding-bottom: var(--gaps-title);
        text-align: center;
        font-size: var(--fontsize-banner-heading);
        letter-spacing: var(--spacing-xlarge)
    }

    .cardContainer {
        display: flex; 
        justify-content: space-between;
        height: 340px;
    }

    .favouritesCard {
        width: 30%;

        img {
            height: 300px;
        }
    }

    .querySection {
        padding-top: var(--page-gaps);
        padding-bottom: var(--page-gaps);

    }
    .queryFormContainer {
    }
}